.container {
    padding: 1rem;
    margin: 3rem auto;
    /* border: 1px solid #80808052;
    border-radius: 8px; */
}

h1 {
    text-align: center;
}

.base-currency,
.date {
    display: block;
}

.rate,
.currency-name {
    font-size: 1.5rem;
}

.date,
.base-currency {
    color: gray;
    font-weight: lighter;
}

.historical-exchange {
    display: flex;
    justify-content: space-between;
}