.container {
    padding: 1rem;
    margin: 3rem auto;
}

h1 {
    text-align: center;
}

.total-details,
.rate-details {
    text-align: center;
    padding: 1rem 0;
}

.total-converted {
    font-size: 2rem;
}

.base-currency,
.date {
    display: block;
}

.date,
.base-currency {
    color: gray;
    font-weight: lighter;
}

.historical-exchange {
    display: flex;
    justify-content: space-between;
}

.btn-radius {
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
}