html,
body {
    background-color: #37517e;
}

.container {
    padding: 1rem;
    margin: 3rem auto;
}

h1 {
    text-align: center;
}

.img-radius {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.navbar>.navbar-brand>span {
    color: white;
    margin-left: 1rem;
}

footer {
    height: 2.5rem;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
}

footer>span {
    padding: .45rem 0;
    display: block;
}

.total-details,
.rate-details {
    text-align: center;
    padding: 1rem 0;
}

.total-converted {
    font-size: 2rem;
}

.base-currency,
.date {
    display: block;
}

.date,
.base-currency {
    font-weight: lighter;
}

.date {
    color: white;
    margin: 2rem 0;
}

.btn-radius {
    border-radius: 50% !important;
    height: 40px;
    width: 40px;
}

.input-validation {
    color: red;
    font-size: .5rem;
    margin: 0;
    border-top: 1px solid red;
}


/* .top-currency-list {
    display: flex;
} */

.exchange-list {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.exchange-list>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1rem;
    text-decoration: none !important;
    align-self: center;
}

.top-amount {
    color: #00b9ff;
    font-weight: 700;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 0;
    line-height: 1.25rem;
}

.top-currency {
    color: gray;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.01786em;
    text-decoration: inherit;
    text-transform: inherit;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    display: block;
}

.bg-clear-gray {
    background-color: #f2f5f7;
}

.bg-dark-blue {
    background-color: #2e4369;
}